<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vytvoření rezervace</title>
</head>
<body>
<h1>Vytvoření rezervace</h1>

<form action="{% url 'polls:create' question.id %}" method="post">
    <label>id</label><br>
    <input type="text" name="id" id="id"><br>
    <label>Customer</label><br>
    <input type="text" name="customer" id="customer"><br>
    <label>Employee</label><br>
    <input type="text" name="employee" id="employee"><br>
    <div class="related-widget-wrapper">
    <select name="cars" required="" id="id_cars" multiple="">
    <option value="1234567" selected="">1234567 : Sedan BMW --- 1</option>
    <option value="7654321">7654321 : Combi Audi --- 0</option>
    </select>
</div>
<input type="submit" value="create">
</form>

</body>
</html>