<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autopújčovna</title>
</head>
<body>
{% if reservations %}
    <ul>
    {% for reservation in reservations %}
        <li><a href="{% url 'reservation_detail' reservation.reservationNumber %}">{{ reservation }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No reservation are available.</p>
{% endif %}
{% if employees %}
    <ul>
    {% for employee in employees %}
        <li><a href="{% url 'employee_detail' employee.email %}">{{ employee }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No employee are available.</p>
{% endif %}
</body>
</html>